packages/
**/node_modules/
/dist/
frontend/example-product/dist/
frontend/frontend-docs/build/
**/*.tsbuildinfo
.git/
.gitignore
**/Dockerfile
**/docker-compose.yml
**/.dockerignore
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
coverage/
**/*.test.ts
**/*.test.tsx
docs/
examples/